* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
}
:root {
	--appBackground: #294187;
	--mainBackground:#3b3d4285;
	--taskListBackfround: #171f34;
	--fontColor: #f9fafc;
	--buttonBackground: #eb06ff;
	--taskFinished: #645bcd;
	
}
html,
body,
#root {
	background: var(--mainBackground);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
}
